<div class="col-12">
    <nav aria-label="Page navigation example" class="table-responsive">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>

            {% for n in range(10) %}
            <li class="page-item"><a class="page-link" href="#">{{ n }}</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>