{% extends '_base.html' %}


{% block title %}
    Главная
{% endblock %}

{% block content %}
    <main>
        <div class="container page-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        Участники в Новосибирске:
                        <a href="#companies">105 оптовых компаний</a>
                        <a href="#manufacturers">25 производителей</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container page-content">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="request-form">
                        <h1>Вам позвонят лучшие поставщики Новосибирска</h1>
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-2"><span class="search">Я ищу</span></div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <label class="form-check-label" for="gridCheck1">
                                            ЖБИ (Фундаментальные блоки ФБС, плиты перекрытий ПК, перемычки)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck2">
                                        <label class="form-check-label" for="gridCheck2">
                                            Кирпич / Газобетон / Брус
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck3">
                                        <label class="form-check-label" for="gridCheck3">
                                            Бетон / Раствор
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="desc" class="col-sm-2 col-form-label">Описание*</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="desc" placeholder="">
                                    <span class="description-example">Пример: Нужно фбс 24.4.6 50 штук плиты пк 20 ПК
                                        60-120-12 доставка в Новолуг</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label">Телефон*</label>
                                <div class="col">
                                    <input type="text" class="form-control" id="phone" placeholder="">
                                </div>
                                <label for="name" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col">
                                    <input type="text" class="form-control" id="name" placeholder="">
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-secondary btn-md">Опубликовать заявку</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="request-list">
                        <h1>Свежие заявки</h1>
                        {% include 'blocks/_requests-list.html' %}
                        <div class="text-center">
                            <a href="requests.html" role="button" class="btn btn-secondary btn-md all-requests">Посмотреть все
                                заявки</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="reviews col-sm-8 col-lg-6 offset-sm-2 offset-lg-3">
                    {% include 'blocks/_carousel.html' %}
                </div>
                <div class="col-sm-2 col-lg-3 align-self-center text-center">
                    <button type="submit" class="btn btn-light add-review">
                        Оставить отзыв
                    </button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container page-footer">
            {% block footer %}
                {% include 'blocks/_footer.html' %}
            {% endblock %}
        </div>
    </footer>

{% endblock %}